<template>
  <div>
    <v-toolbar dark tabs>
      <v-select
        prepend-icon="search"
        :items="teamLabels"
        v-model="teamLabel"
        label="Pesquise pela label do seu time"
        solo-inverted
        dense
        autocomplete
      ></v-select>
      <v-btn icon @click="refreshIssues" :loading="loading">
        <v-icon>refresh</v-icon>
      </v-btn>
      <v-tabs
        v-model="activeTab"
        slot="extension"
        grow
        show-arrows
      >
        <v-tab
          href="#tab-issues"
          ripple
        >
          Issues
        </v-tab>
        <v-tab
          href="#tab-issues-defect"
          ripple
        >
          Issues defeito
        </v-tab>
        <v-tab
          href="#tab-issues-enhancement"
          ripple
        >
          Issues melhoria
        </v-tab>
        <v-tab
          href="#tab-issues-inovation"
          ripple
        >
          Issues inovação
        </v-tab>
        <v-tab
          href="#tab-issues-zendesk"
          ripple
        >
          Issues Zendesk
        </v-tab>
        <v-tab
          href="#tab-graphs"
          ripple
        >
          Gráficos
        </v-tab>
      </v-tabs>
    </v-toolbar>

    <v-tabs-items v-model="activeTab">
      <v-tab-item id="tab-issues">
        <issue-list :issues="availableIssues"></issue-list>
      </v-tab-item>

      <v-tab-item id="tab-issues-defect">
        <issue-list :issues="availableIssuesDefectByMonth"></issue-list>
      </v-tab-item>

      <v-tab-item id="tab-issues-enhancement">
        <issue-list :issues="availableIssuesEnhancementByMonth"></issue-list>
      </v-tab-item>

      <v-tab-item id="tab-issues-inovation">
        <issue-list :issues="availableIssuesInovationByMonth"></issue-list>
      </v-tab-item>

      <v-tab-item id="tab-issues-zendesk">
        <issue-list :issues="availableIssuesZendeskByMonth"></issue-list>
      </v-tab-item>

      <v-tab-item id="tab-graphs">
        <v-container fluid grid-list-lg>
          <v-flex xs12>
            <v-progress-linear v-if="loading" :indeterminate="true"></v-progress-linear>
          </v-flex>

          <v-layout row wrap>
            <v-flex xs12 sm12 md6 lg6 xl4>
              <chart-container title="Throughput">
                <throughput-chart :issues="throughputByMonth"></throughput-chart>
              </chart-container>
            </v-flex>

            <v-flex xs12 sm12 md6 lg6 xl4>
              <chart-container title="Total de issues fechadas por mês">
                <closed-issues-by-month-chart :issues="issuesZendeskClosedByMonth"></closed-issues-by-month-chart>
              </chart-container>
            </v-flex>

            <v-flex xs12 sm12 md6 lg6 xl4>
              <chart-container title="Issues ZENDESK que foram abertas e fechadas no mês">
                <open-closed-issues-chart :issues="issuesZendeskByMonth"></open-closed-issues-chart>
              </chart-container>
            </v-flex>

            <v-flex xs12 sm12 md6 lg6 xl4>
              <chart-container title="Total de issues ZENDESK abertas e fechadas no mês">
                <zendesk-chart :issues="issuesZendeskByMonth"></zendesk-chart>
              </chart-container>
            </v-flex>

            <v-flex xs12 sm12 md6 lg6 xl4>
              <chart-container title="Issues Zendesk abertas e fechadas no mês / Prioridade">
                <zendesk-priority-chart :issues="issuesZendeskByMonth"></zendesk-priority-chart>
              </chart-container>
            </v-flex>

            <v-flex xs12 sm12 md6 lg6 xl4>
              <chart-container title="Issues Zendesk abertas e fechadas no mês / Motivo">
                <zendesk-reason-chart :issues="issuesZendeskByMonth"></zendesk-reason-chart>
              </chart-container>
            </v-flex>
          </v-layout>

        </v-container>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import store from 'store';
import ChartContainer from '../components/ChartContainer';
import ThroughputChart from '../components/ThroughputChart';
import ZendeskChart from '../components/ZendeskChart';
import ZendeskPriorityChart from '../components/ZendeskPriorityChart';
import ZendeskReasonChart from '../components/ZendeskReasonChart';
import OpenClosedIssuesChart from '../components/OpenClosedIssuesChart';
import ClosedIssuesByMonthChart from '../components/ClosedIssuesByMonthChart';
import IssueList from '../components/IssueList';

export default {
  name: 'report-view',

  components: {
    'chart-container': ChartContainer,
    'throughput-chart': ThroughputChart,
    'zendesk-chart': ZendeskChart,
    'zendesk-priority-chart': ZendeskPriorityChart,
    'zendesk-reason-chart': ZendeskReasonChart,
    'open-closed-issues-chart': OpenClosedIssuesChart,
    'closed-issues-by-month-chart': ClosedIssuesByMonthChart,
    'issue-list': IssueList,
  },

  data() {
    return {
      activeTab: '',
    }
  },

  watch: {
    activeTab: function (newVal) {
      store.set('activeTab', newVal);
    }
  },

  methods: {
    refreshIssues() {
      this.$store.dispatch('FETCH_ISSUES', { teamLabel: 'equipe:ExD-Team' });
    },
  },

  computed: {
    teamLabel: {
      get: function() {
        return this.$store.state.teamLabel;
      },
      set: function(newValue) {
        this.$store.dispatch('CHANGE_TEAM_LABEL', newValue);
      }
    },

    teamLabels() {
      return this.$store.getters.teamLabels();
    },

    availableIssues() {
      return this.$store.getters.availableIssues();
    },

    availableIssuesDefectByMonth() {
      return this.$store.getters.availableIssues(['motivo:defeito']);
    },

    availableIssuesEnhancementByMonth() {
      return this.$store.getters.availableIssues(['motivo:melhoria']);
    },

    availableIssuesInovationByMonth() {
      return this.$store.getters.availableIssues(['motivo:inovacao']);
    },

    availableIssuesZendeskByMonth() {
      return this.$store.getters.availableIssues(['ZENDESK']);
    },

    throughputByMonth() {
      return this.$store.getters.throughputByMonth();
    },

    issuesZendeskByMonth() {
      return this.$store.getters.issuesByMonth(['ZENDESK']);
    },

    issuesZendeskClosedByMonth() {
      return this.$store.getters.issuesZendeskClosedByMonth();
    },

    loading() {
      return this.$store.state.loading;
    }
  },

  beforeMount() {
    this.$store.dispatch('FETCH_LABELS');
    this.activeTab = store.get('activeTab') || 'tab-graphs';
  }
}
</script>
