<template>
  <v-card class="chart-card">
    <v-card-title>
      <div class="chart-card__content">
        <h3 class="chart__title">
          {{ title }}
        </h3>
        <slot>
          <v-icon>show_chart</v-icon>
        </slot>
      </div>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  name: 'chart-container',
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped>
.chart__title {
  text-align: center;
  margin-bottom: 10px;
}

.chart-card__content {
  width: 100%;
}

.chart-card {
  margin-bottom: 15px;
}
</style>
