<template>
  <v-card>
    <v-card-title>
      <v-text-field
        append-icon="search"
        label="Pesquisar"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="issues"
      :loading="loading"
      :rows-per-page-items="pageItems"
      :search="search"
      no-data-text="Nenhum dado disponível"
      no-results-text="Nenhum resultado encontrado"
      rows-per-page-text="Linhas por página:"
      class="elevation-1"
    >
      <v-progress-linear slot="progress" :indeterminate="true"></v-progress-linear>
      <template slot="no-data">
        <v-alert class="list-empty" outline color="info" icon="looks" :value="showAlert">
          Nenhuma issue encontrada
        </v-alert>
      </template>
      <template slot="items" slot-scope="props">
        <td>
          <a :href="props.item.html_url" target="_blank">
            <strong>{{ props.item.number }}</strong>
          </a>
        </td>
        <td class="text-xs-right">{{ props.item.title }}</td>
        <td class="text-xs-right">{{ props.item.state }}</td>
        <td class="text-xs-right">
          <v-chip
            v-for="label in props.item.labels"
            small
            :key="label.id"
            :style="{ backgroundColor: '#' + label.color }"
          >
            {{ label.name }}
          </v-chip>
        </td>
        <td class="text-xs-right">{{ formatDate(props.item.created_at) }}</td>
      </template>
      <template slot="pageText" slot-scope="props">
        Linhas {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
  const { DateTime } = require('luxon');

  export default {
    name: 'IssueList',
    props: {
      issues: {
        type: Array,
        required: true
      },
    },

    data() {
      return {
        search: '',
        pageItems: [25,50,100,250,{'text':'Todos','value':-1}],
        headers: [
          { text: '#', value: 'number' },
          { text: 'Título', value: 'title' },
          { text: 'Status', value: 'state' },
          { text: 'Labels', value: 'labels' },
          { text: 'Criadas em', value: 'created_at' },
        ],
      };
    },

    methods: {
      formatDate(date) {
        return DateTime.fromISO(date).toLocaleString();
      },
    },

    computed: {

      loading() {
        return this.$store.state.loading;
      },

      showAlert() {
        return !Object.keys(this.issues).length > 0;
      }
    },
  }
</script>
